@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body { 
    padding: 0; 
    margin: 0; 
    font-family: 'SF Pro Display', sans-serif;
} 

#main {
    position: relative;
}

#map {
    position: relative;
    z-index: 1;
    
 
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
    /* touch-action: none; */
    /* user-select: none; */
    /* pointer-events: none; */
}

#order-div {
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 0px -11px 10px -9px rgba(34, 60, 80, 0.2);
    height: 235px;
    width: 100vw;
    max-width: 1000px;
    /* top: 0; */
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    left: 0; 
    right: 0; 
    margin-inline: auto; 
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
    margin-top: 0;
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 0;

    left: calc(100% - 50px);
    text-align: center;

    height: fit-content;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px; 
}



.leaflet-control-zoom.leaflet-bar.leaflet-control a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 5px;
    border-radius: 100px;
    transition: 300ms ease;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control a:active {
    background-color: #8f8f8f;
    transition: 300ms ease;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control span {
    width: fit-content;
    height: fit-content;
}

.leaflet-top.leaflet-left {
    /* margin-top: calc(50vh - 84.8px - 117.5px); */
    margin-top: calc(50vh - 42.4px - 117.5px);

    width: 100%;
}

.leaflet-interactive {
    color: black;
}


#address-div {
    height: 100px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

#order-menu {
    height: 60px;

}

#order-button{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}

#order-button-left {
    display: flex;
    justify-content: center;
    align-items: center;
 
    text-align: center;
    height: 60px;
    width: 150px;
    background-color: #E5FF00;
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
    transition: 300ms ease;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

#order-button-left:active {
    background-color: rgb(147, 147, 0); 
    transition: 300ms ease;
}

#order-button-left-text {
    height: 100%;
    font-size: 24px;
    user-select: none;
}


#order-button-right {
    height: 60px;
    width: 150px;
    background-color: white;
    display: flex;
    flex-direction: row;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

#geo-div {
    /* width: 32px;
    height: 32px; */
    height: 42px;
    position: absolute;
    z-index: 3;
    /* bottom: 245px; */
    right: 10px;
    background-color: white;
    border-radius: 100px;
    transition: 300ms ease;
}

#geo-div img {
    padding: 5px;
}

#geo-div:active {
    background-color: #8f8f8f;
    transition: 300ms ease;
}
#geo-wrap {
    height: 42px;
    position: absolute;
    z-index: 3;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    bottom: 245px;
    max-width: 1000px;
    width: 100vw;
    height: 42px;
}

#left-shadow {
    width: 45px;
    height: 60px;
    background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
    transition: all 300ms ease;
}

#right-shadow {
    width: 45px;
    height: 60px;
    margin-right: 0;
    background: linear-gradient(270deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
    /* background: linear-gradient(270deg, rgb(193, 193, 193) 0%, rgba(255,255,255,1) 100%); */
}

#right-shadow:active {
    background: linear-gradient(270deg, rgb(193, 193, 193) 0%, rgba(255,255,255,1) 100%);
}

#left-shadow:active {
    background: linear-gradient(90deg, rgb(193, 193, 193) 0%, rgba(255,255,255,1) 100%);
}


#order-button-price {
    width: 60px;
    height: 60px;
}

#user-wrap {
    height: 42px;
    position: absolute;
    z-index: 3;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    /* bottom: 245px; */
    top: 10px;
    max-width: 1000px;
    width: 100vw;
    height: 42px;
}

#user-div {
    position: absolute;
    right: 10px;
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 100px;
    transition: 300ms ease;
}

#user-div:active {
    background-color: #8f8f8f;
    transition: 300ms ease;
}

#user-img {
    user-select: none;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#user-img img {
    user-select: none;
}

.price-btn {
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

.price-btn span {
    user-select: none;
    font-size: 24px;
}

#price-text-div {
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    font-weight: 100;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}







